<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.recommenders.completion.rcp.sessionprocessors">
      <processor
            class="org.eclipse.recommenders.injection.E4ExtensionFactory:org.eclipse.recommenders.calls.rcp.CallCompletionSessionProcessor"
            icon="icons/view16/braces.gif"
            id="org.eclipse.recommenders.calls.rcp.processor1"
            name="Call Recommender 2">
      </processor>
   </extension>
   <extension
         id="id3"
         point="org.eclipse.e4.workbench.model">
      <processor
            beforefragment="true"
            class="org.eclipse.recommenders.calls.rcp.wiring.E4Processor">
      </processor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.recommenders.rcp.category.preferences"
            class="org.eclipse.recommenders.calls.rcp.PreferencePage"
            id="org.eclipse.recommenders.calls.rcp.preferencepage"
            name="Call 2">
      </page>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.eclipse.recommenders.calls.rcp.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
